.tweetContainer{
    width: 600px;
    display: flex;
    padding: 20px;
    background: whitesmoke;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgb(0 0 0 / 15%);
}

.imageContainer{
    width: 50px;
}
.imageContainer img{
    width: 50px;
    border-radius: 100%;
}
.messageBody{
    width: 100%;
    margin-left: 20px;
    text-align: left;
}
a{
    text-decoration: none
}
.username{
 color: rgba(0,0,0,.57);
}
.author{
    color: rgba(0,0,0,.87);
}
.embeddedImg{
    max-width: 100%;
}